{% extends 'base.html' %}
{% block body %}
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-6">
            <div class="card position-fixed card_line" style="width:350px">
                <img class="rounded-circle image" src="/static/ryan.jpg">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet elit lobortis, venenatis turpis a, convallis ante.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card mb-5">
                <img src="https://picsum.photos/200/300/?random">
                <div class="card-body">
                    <h5 class="card-title noto">작성글</h5>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card mb-5">
                <img src="https://picsum.photos/200/300/?random">   
                <div class="card-body">
                    <h5 class="card-title noto">작성글</h5>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card mb-5">
                <img src="https://picsum.photos/200/300/?random">   
                <div class="card-body">
                    <h5 class="card-title noto">작성글</h5>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card mb-5">
                <img src="https://picsum.photos/200/300/?random">   
                <div class="card-body">
                    <h5 class="card-title noto">작성글</h5>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}