<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action='/articles/create'>
        <p>제목 : <input type="text" name="title"/></p>
        <p>내용 : <textarea name="content" row="4",column"50"></textarea></p>
        <p>글쓴이 : <input type="text" name="author"/></p>
        <input type='submit' value='Submit'/>
    </form>
</body>
</html>